<% if (page.comments){ %>
    <section class="comment">
        <div id="vssue"></div>
        <script src="https://unpkg.com/vue/dist/vue.runtime.min.js"></script>
        <script src="https://unpkg.com/vssue/dist/vssue.github.min.js"></script>
        <script>
            new Vue({
                el: '#vssue',
                render: h => h('Vssue', {
                    props: {
                        title: '<%- page.title %>',
                        options: {
                            owner: '<%- theme.vssue.owner %>',
                            repo: '<%- theme.vssue.repo %>',
                            clientId: '<%- theme.vssue.clientId %>',
                            clientSecret: '<%- theme.vssue.clientSecret %>',
                        },
                    }
                })
            })
        </script>
        <link rel="stylesheet" href="https://unpkg.com/vssue/dist/vssue.min.css">
        <style>
            .vssue {
                padding: 0;
                padding-top: 10px;
            }
            .vssue :not(.vssue-comment-content) a {
                color: #2ca6cb;
            }
            .vssue .vssue-button:not(:disabled).vssue-button-primary {
                color: #2ca6cb;
                border-color: #2ca6cb;
            }
            .vssue .vssue-button {
                border: 2px solid #2ca6cb;
                border-radius: 1px;
            }
            .vssue .vssue-new-comment .vssue-new-comment-input {
                border-radius: 1px;
            }
            .vssue .vssue-status, vssue-progress-color, vssue-border-color {
                color: #2ca6cb;
            }
        </style>
    </section>
<% } %>

